.mainboard {
    display: flex;
    width: 350px;
    height: 350px;
    border: 1px solid rgb(176, 176, 176);
}

.column {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.square {
    display: flex;
    flex: auto;
    border: 1px solid rgb(176, 176, 176);
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: rgb(76, 76, 76);;
}