* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
    height: 100vh;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 300px;
    height: 300px;
    border: 1px solid #a8a8a8;
}

.column {
   display: grid; 
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(168, 168, 168, 0.4);
}

.content {
    position: absolute;
    font-size: 48px;
    cursor: default;
    overflow: hidden;

}

.hitCpu {
    background-color: rgb(255, 195, 195);
}

.hitPly {
    background-color: rgb(255, 195, 195);
}

.miss {
    color: grey;
}

.miss, .expose {
    background-color: rgb(240, 240, 240);
}

.hit {
    font-size: 36px;
    background-color: rgb(255, 195, 195);
}

.miss, .expose {
    font-size: 40px;
    
}

.miss, .expose, .hit {
line-height: 40%;
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    text-align: center;
    color: white;
    text-shadow: 5px 2px 5px rgb(0, 0, 0, 0.8);
    flex: auto;
    width: 300px;
    height: 300px;
    z-index: 1;
    /* background-color: rgb(255, 255, 255, 0.8); */
    /* filter: blur(); */
}

.boardSpace1, .boardSpace2 {
    display: flex;
    border: 1px solid rgb(229, 229, 229);
    overflow: hidden;
}

.blur {
    filter: blur(5px);
}

.boardsContainer {
    display: flex;
    gap: 50px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.logo {
    width: 300px;
    filter: opacity(0.8);
}

.buttonHolder {
    display: flex;
    gap: 25px;
    height: 100px ;
}

#plyReset, #gamePlay {
    appearance: none;
    width: 75px;
    height: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
}


#plyReset {
    background-color: rgb(255, 178, 15);
}

#gamePlay {
    background-color: rgb(68, 175, 105);
}

#plyReset:hover {
    background-color: rgb(251, 189, 54);
}

#gamePlay:hover {
    background-color: rgb(101, 185, 130);
}

#plyReset:active, #gamePlay:active {
    box-shadow: none;
}




